Source: ros-indigo-tblib
Section: misc
Priority: extra
Maintainer: AlexV <asmodehn@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin (>= 0.6.18), ros-indigo-catkin-pip (>= 0.1.16)
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-tblib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Traceback fiddling library.
 Allows you to pickle tracebacks.
